In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = "/home/tejaswini/Desktop/project/prog/water_quality.csv"
data = pd.read_csv(dataset, encoding='latin-1')

In [3]:
data.columns

Index(['State Name', 'District Name', 'Block Name', 'Panchayat Name',
       'Village Name', 'Habitation Name', 'Quality Parameter', 'Year',
       'Unnamed: 8'],
      dtype='object')

In [4]:
data[:1]

,State Name,District Name,Block Name,Panchayat Name,Village Name,Habitation Name,Quality Parameter,Year,Unnamed: 8
0,ASSAM,KOKRAJHAR,DOTOMA,SERFANGURI,SERFANGURI(INCLUDING,RUPGAON,Iron,01-04-2012,NaN

In [5]:
data.iloc[10]

State Name                      ASSAM
District Name               KOKRAJHAR
Block Name                     DOTOMA
Panchayat Name            BONGSHIGAON
Village Name              BONGSHIGAON
Habitation Name      SOUTH BONGSIGAON
Quality Parameter                Iron
Year                       01-04-2012
Unnamed: 8                        NaN
Name: 10, dtype: object

In [6]:
data.describe()

,State Name,District Name,Block Name,Panchayat Name,Village Name,Habitation Name,Quality Parameter,Year,Unnamed: 8
count,104160,104160,104160,104160,104160,104160,104156,104156,2
unique,24,356,2140,20198,42817,76403,8,3,1
top,RAJASTHAN,BARMER,BARMER,RATANPUR,RAMPUR,HARIJAN TOLA,Iron,01-04-2012,01-04-2012
freq,26729,10570,1983,185,123,577,56139,104154,2

In [7]:
iron_data = data[data['Quality Parameter'] == 'Iron']
len(iron_data)

56139

In [8]:
iron_data.describe()

,State Name,District Name,Block Name,Panchayat Name,Village Name,Habitation Name,Quality Parameter,Year,Unnamed: 8
count,56139,56139,56139,56139,56139,56139,56139,56139,0.0
unique,21,225,1286,10918,24376,40011,1,1,0.0
top,ASSAM,SUPAUL,BASANTPUR,RATANPUR,RAMPUR,HARIJAN TOLA,Iron,01-04-2012,NaN
freq,14742,2500,515,178,97,377,56139,56139,NaN

In [9]:
p = data['Quality Parameter']

p

0         Iron
1         Iron
2         Iron
3         Iron
4         Iron
5         Iron
6         Iron
7         Iron
8         Iron
9         Iron
10        Iron
11        Iron
12        Iron
13        Iron
14        Iron
15        Iron
16        Iron
17        Iron
18        Iron
19        Iron
20        Iron
21        Iron
22        Iron
23        Iron
24        Iron
25        Iron
26        Iron
27        Iron
28        Iron
29        Iron
          ...
104130    Iron
104131    Iron
104132    Iron
104133    Iron
104134    Iron
104135    Iron
104136    Iron
104137    Iron
104138    Iron
104139    Iron
104140    Iron
104141    Iron
104142    Iron
104143    Iron
104144    Iron
104145    Iron
104146    Iron
104147    Iron
104148    Iron
104149    Iron
104150    Iron
104151    Iron
104152    Iron
104153    Iron
104154    Iron
104155    Iron
104156    Iron
104157    Iron
104158    Iron
104159    Iron
Name: Quality Parameter, Length: 104160, dtype: object

In [10]:
p.unique()

array(['Iron', 'Arsenic', 'Salinity', 'Fluoride', 'Nitrate', nan,
       'RAGHUNATH PURA', 'ACOLONY,iron', 'SARPANCH /KAMALA PADAR'],
      dtype=object)

In [11]:
all_counts = p.value_counts()
all_counts

Iron                      56139
Salinity                  22957
Fluoride                  17985
Arsenic                    4314
Nitrate                    2758
ACOLONY,iron                  1
RAGHUNATH PURA                1
SARPANCH /KAMALA PADAR        1
Name: Quality Parameter, dtype: int64

In [12]:
probabilities = p.value_counts() / p.count()

In [13]:
probabilities

Iron                      0.538990
Salinity                  0.220410
Fluoride                  0.172674
Arsenic                   0.041419
Nitrate                   0.026480
ACOLONY,iron              0.000010
RAGHUNATH PURA            0.000010
SARPANCH /KAMALA PADAR    0.000010
Name: Quality Parameter, dtype: float64

In [14]:
probabilities.keys()

Index(['Iron', 'Salinity', 'Fluoride', 'Arsenic', 'Nitrate', 'ACOLONY,iron',
       'RAGHUNATH PURA', 'SARPANCH /KAMALA PADAR'],
      dtype='object')

In [15]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly.graph_objs import Scatter, Figure, Layout, Histogram, Bar, Pie

init_notebook_mode(connected=True)

In [23]:
iplot([Scatter(x=probabilities.keys(), y=probabilities)])

In [24]:
# Get the counts for a given state
rajasthan = data[data['State Name'] == 'RAJASTHAN']

In [18]:
rajasthan_states = rajasthan['Quality Parameter']

In [19]:
rajasthan_states = rajasthan_states.value_counts() / rajasthan_states.count()
rajasthan_states

Salinity          0.707984
Fluoride          0.266724
Nitrate           0.023346
Iron              0.001721
Arsenic           0.000187
RAGHUNATH PURA    0.000037
Name: Quality Parameter, dtype: float64

In [20]:
iplot([Scatter(x=rajasthan_states.keys(), y=rajasthan_states),
      Scatter(x=probabilities.keys(), y=probabilities)])

In [21]:
iplot([Bar(x=rajasthan_states.keys(), y=rajasthan_states.values),
      Bar(x=probabilities.keys(), y=probabilities)])

In [22]:
iplot([Pie(labels=rajasthan_stats.keys(), values=rajasthan_stats.values)])
iplot([Pie(labels=probabilities.keys(), values=probabilities)])

NameError: name 'rajasthan_stats' is not defined

In [ ]:
all_states = data['State Name']
all_states = all_states.value_counts() / all_states.count()
all_states

In [ ]:
iplot([Bar(x=all_states.keys(), y=all_states)])

In [ ]:
state_names = data['State Name'].unique()
state_names

In [ ]:
statewise = {}
for state_name in state_names:
    state_data = data[data['State Name'] == state_name]
    statewise[state_name] = state_data['Quality Parameter'].value_counts()

In [ ]:
statewise_values = pd.DataFrame(statewise)

In [ ]:
statewise_values

In [ ]:
statewise_values = statewise_values.fillna(0)

In [ ]:
statewise_values.describe()

In [ ]:
# Mean for each state
statewise_values.mean()

In [ ]:
#Transposed data
elementwise_values = statewise_values.transpose()
elementwise_values

In [ ]:
elementwise_values.mean()

In [ ]:
iplot([Bar(x=statewise_values.keys(), y=statewise_values.loc[i], name=i) for i in statewise_values.index])

In [ ]:
means = elementwise_values.mean()

In [ ]:
iplot([Bar(x=means.keys(), y=means)])

In [ ]:
statemeans = statewise_values.mean()
iplot([Bar(x=statemeans.keys(), y=statemeans)])

In [ ]:
statenames = data.groupby(['State Name'])

In [ ]:
statenames.describe()

In [ ]:
statenames['Quality Parameter'].value_counts()

In [ ]:
statevalue_counts = statenames['Quality Parameter'].value_counts()